@use "../abstracts/" as *;

/* Box
-------------------------------------------------------------- */
.topbar {
    position: relative;
    height: 55px;
    @include flex(center, flex-start);
  
    .ticker-title {
      width: 7000px;
    }
  
    .ticker-title > * {
      display: inline-block;
      margin-right: 70px;
      animation: title 10s infinite linear;
    }
  
    @keyframes title {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-1000px);
      }
    }
  }