@use "../abstracts/" as *;

.ml4 {
  margin-left: 4px;
}

.mr4 {
  margin-right: 4px;
}
.pt5 {
  margin-top: 5px;
}

.fz-13 {
  font-size: 13px;
}

.fw-500 {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.bg-main {
  background-color: $color-main;
}
