$txt-color: #444444;
$white: #fff;
$color-hover: #c3a27c;
$color-main: #ca2f06;
$color-2: #f8c249;
$color-3: #161a1b;

$black: #000000;


$center: center;

$w100: 100%;

$font-main: "IBM Plex Mono", sans-serif;
$font-main-1: "Rowdies", sans-serif;

$res_1760: 1760px;
$res_1600: 1600px;
$res_1440: 1440px;
$res_1200: 1200px;
$res_991: 991px;
$res_767: 767px;
$res_600: 600px;
$res_500: 500px;
$res_400: 500px;
